@font-face {
    font-family: 'PP Mori';
    src: url('fonts/PPMori-Regular.woff2') format('woff2'),
        url('fonts/PPMori-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Global */
body {
    background-color: #0D0D0D;
    color: white;
    font-family: 'PP Mori', Helvetica, sans-serif;
    font-feature-settings: "ss02";
    margin: 0px 20px;
    position: relative;
}

.yellow {
    color: #F2E205;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
    font-weight: normal;
    margin: 0px;
    line-height: 1;
}

h2 {
    font-size: 56px;
    text-transform: uppercase;
    line-height: 56px;
    letter-spacing: -0.03em;

}

/* Grid */
.grid {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    /* display: none; */
    flex-direction: column;
}

.grid .line {
    padding-top: 27px;
    border-bottom: 1px solid blue;
}

/* Header */
header {
    padding-top: 38px;
    display: flex;
    flex-direction: column;
    row-gap: 34px;
}

header div {
    display: flex;
    align-items: center;
    column-gap: 7.5px;
}

header img {
    width: 22.5px;
    margin-top: -4px;
}

h1 {
    font-size: 21px;
    flex-grow: 1;
    letter-spacing: -0.01125em;
}

nav {
    display: flex;
    justify-content: flex-end;
    column-gap: 15px;
}

nav span {
    display: flex;
    font-size: 21px;
    letter-spacing: -0.01125em;
}

/* Discover */
#discover {
    margin-top: 93px;
}

#discover .pictures {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 44px;
}

#discover .picture {
    width: 100%;
    border-radius: 14px;
}

#discover .copyright {
    margin-top: 43px;
}

#discover .icon {
    width: 28px;
    margin-bottom: -4px;
}

#discover p {
    font-size: 28px;
    line-height: 42px;
    letter-spacing: -0.0150em;
}


@media (min-width: 768.02px) {

    /* Global */
    body {
        margin: 0px 10%;
    }

    h2 {
        font-size: 119px;
        letter-spacing: -0.06375em;
        line-height: 112px;
    }

    /* Grid */
    .grid {
        flex-direction: row;
        gap: 20px;
    }

    .grid-column {
        width: 100%;
    }

    /* Header */
    header {
        padding-top: 33px;
        flex-direction: row;
    }

    header div {
        flex-grow: 1;
        column-gap: 10px;
    }

    header img {
        width: 30px;
        margin-top: -5.33px;
    }

    h1 {
        font-size: 28px;
        letter-spacing: -0.0150em;
    }

    nav {
        column-gap: 20px;
    }

    nav span {
        font-size: 28px;
        letter-spacing: -0.0150em;
    }

    /* Discover */
    #discover {
        margin-top: 212px;
    }

    #discover .pictures {
        flex-direction: row;
        margin-top: 34px;
    }

    #discover .picture {
        width: calc(50% - 10px);
    }

    #discover .copyright {
        margin-top: 48px;
    }

    #discover .icon {
        width: 42px;
        margin-bottom: -6px;
    }

    #discover p {
        font-size: 42px;
        line-height: 56px;
        letter-spacing: -0.0225em;
    }
}