@font-face {
    font-family: 'PP Mori';
    src: url('fonts/PPMori-Regular.woff2') format('woff2'),
        url('fonts/PPMori-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Global */
body {
    background-color: #0D0D0D;
    color: white;
    font-family: 'PP Mori', Helvetica, sans-serif;
    font-feature-settings: "ss02";
    margin: auto;
    padding: 0px 20px;
    position: relative;
    text-align: center;
    padding: 40px;
}

.emphasis {
    color: #F2E205;
}

.green-theme {
    background-color: #403C01;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
    font-weight: normal;
    margin: 0px;
    line-height: 1;
}

a {
    color: inherit;
    line-height: inherit;
    text-decoration: none;
}

h2 {
    font-size: 56px;
    text-transform: uppercase;
    line-height: 56px;
    letter-spacing: -0.03em;

}

h3 {
    font-size: 35px;
    text-transform: uppercase;
    line-height: 35px;
    letter-spacing: -0.01875em;
}

h4 {
    font-size: 35px;
    text-transform: uppercase;
    line-height: 35px;
    letter-spacing: -0.01875em;
}

/* Grid */
.grid {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
}

.grid .line {
    padding-top: 13px;
    border-bottom: 1px solid blue;
}


h1 {
    font-size: 42px;
    flex-grow: 1;
    letter-spacing: -0.02250em;
    padding-bottom: 20px;
}